:root {
	--background: linear-gradient(135deg, #f8f8ff, #e0e0ff);
	--page--max-width: 1280px;

	--h1--size: 42px;
	--h1--font: 'Lora';

	--color-orange: #ff8743;
	--color-purple: #6c63ff;

	--safe-viewport: 10px;

	--width-desktop: 1050px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat';
	color: #090814;
}

a {
	text-decoration: none;
	color: inherit;
}

a:visited {
	color: currentColor;
}

ul,
ol {
	list-style: none;
}
